<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
  <button ion-button (click)='openSeachPlaces()'>Registrar nuevo gasto</button>
  <button ion-button (click)='openPremiun()'>Hazte Premium</button>

  <div *ngIf="email">
      {{email}}
      </div>
-->
<button block id="botonPremium" ion-button (click)='openPremiun()'>Hazte Premium</button>

      <ion-card>
    
        <ion-card-header id="encabezadoGrafico"  *ngIf="num_categorias">
          Mostrando gastos <p id="encabezadoGrafico"> {{num_categorias}} categorías</p>

        </ion-card-header>
    
        <ion-card-content class="chart-container">
            <canvas #doughnutCanvas id="chart"></canvas> 
       </ion-card-content>

       <ion-card-header id="encabezadoGrafico"  *ngIf="gasto_total">
        Gasto total realizado:  {{gasto_total}} colones

      </ion-card-header>
    
      </ion-card>

      

      

      <ion-fab bottom right>
          <button ion-fab color="light" (click)='openSeachPlaces()'>
            <ion-icon name="add"></ion-icon>
          </button>
      </ion-fab>
</ion-content>
