page-pago-premiun {

    .card{
        position: relative;
        max-width: 500px;
        max-height: 770px;
        width: auto;
        height: auto;
        clear:inherit;
        text-align: justify;
        margin-top: 10px;
        border-color: rgba(46,159,131,1); 
        
    }

    #cardPaypal{
        max-width: 500px;
        max-height: 490px;
        width: auto;
        height: auto; 
        border-color: rgba(46,159,131,1);
        text-align: justify;
        margin-top: 10px;
        position: relative;
    }

    #cardPremiun{
        max-width: 500px;
        max-height: 610px;
        width: auto;
        height: auto;
        text-align: justify;
        margin-top: 10px;
        float: inherit;
        border-color: rgba(46,159,131,1);
        position: relative;
    }

    ion-card-header{
        width: auto;
        height: auto;
        min-height: 70px;
        position: relative;
    }

    .cardHeader{
        background-color: rgba(82,86,97,1);
    }


    ion-list{
        text-align: center;
    }

    ion-icon{
        color:rgba(82,86,97,1);
    }

    .icons{
        color:rgba(46,159,131,1);
    }

    .input-size{
        height: 50px;
    }

    .imgViMas{
        width: 50px;
        height:50px;
    }

    #imgPaypal{
        width: 80px;
        height: 65px;
    }

    #imgAmerican{
        width: 50px;
        height: 50px;
    }

    .imgMethod{
        width: 50px;
        height:50px;
    }

    .labels{
        text-align: justify;
        padding-bottom: 4px;
        font-size: 1.3em;
        color: #72727D;
    }

    .labelCont{
        text-align: justify;
        padding-bottom: 2px;
        margin-top: 10px;
        font-size: 18px; 
        color: #000;
        position: relative;
    }

    #labelConf{
        text-align: start;
        font-size: 15px;
        padding-top: 3px;
        color: grey;
    }

    .labelRatio{
        font-size: 18px; 
        color: #000;
    }

    .beneficios{
        padding-bottom: 8px;
        margin-top: 30px;
        font-size: 18px; 
        color: #000;
        position: relative;
        text-align: center;
    }

    #rowFirst{
        //margin-left: 10px;
        justify-content: center;
    }



    #confirmo{
        font-size: 13px;
        color: grey;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #btnArrow{
        color: black;
        height: 50px;
        width: 60px;
    }



    .titulotarjeta{
        margin-top: 20px;
        font-size: 24px;
        font-style: oblique;
        text-align: center;
        color: rgba(46,159,131,1);
        margin-left: 10px;
    }

    .tituloCardPremiun{
       // margin-top: 20px;
        font-size: 24px;
        text-align: center;
        color: #000;
        //margin-left: 10px;
    }

    .form-group{
        margin-bottom: 20px;
    }

    .btnPlan{
        float: right;
        background-color: rgba(46,159,131,1);
        border-color: rgba(46,159,131,1);
        width: 130px;
    }

    .btnCard{
        background-color:  rgba(46,159,131,1);
        border-color: rgba(46,159,131,1);
    }

    

    #lock{
        float: right;
        padding-bottom: 50px;
        padding-right: 10px;
    }
}
